.logo-box {
//  width: 15em;
//  height: 15em;
//  border: 1px solid;
  display: inline-block;
  margin: -3.5em 0 3.5em 0;
//  transform: rotate(-2deg);
  .logo {
//    border-bottom: 1px solid rgba(255, 255, 255, .25);
//  border-bottom: 1px solid grey;
  }
  img {
    border: 0;
  }
}
