@import "flex";
@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6,
#banner h1 {
  font-family: 'Stardos Stencil', cursive;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: none;
}
small {
  font-size: 80%;
}

#banner h1 {
  color: rgba(255, 255, 255, 0.5);
}

#header {
//  position: absolute;
}

#menu-roadtrip-menu {
  > li {
    list-style-type: none;
    text-align: center;
    padding: 1em 0;
    border-bottom: 1px solid;
    > a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
#footer {
  background: #4e5858;
  background-color: #4e5858;
  .icon.round {
    width: 3em;
    height: 3em;
    line-height: 3em;
    &.icon:before {
      font-size: 1.5em;
    }
  }
}
footer {
  .icon.round {
    display: block;
    background: rgba(255, 255, 255, .15);
    border-radius: 100%;
    color: #fff;
    width: 3em;
    height: 3em;
    line-height: 3em;
    &.icon:before {
      font-size: 1.5em;
    }

  }
}
.box {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  img {
    border: 3px solid white;
    display: block;
    margin: 1em auto;
    max-width: 100%;
    height: auto;
  }
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  text-transform: none !important;
  font-variant: small-caps;
}
.post {
  height: auto;
}

.wrapper {
//  padding: 13em 0;
}
h2.production-title {
  font-size: 3.5em;
  text-transform: none;
  font-variant: small-caps;
}
header p, .box header p {
  color: white;
}
header h2 + p {
  margin-top: 0;
}
.content, .box footer {
  ul {
    padding: 0;
    @include flexbox;
    @include justify-content(space-evenly);
    @include flex-wrap(wrap);
    @include align-items(center);
    text-align: center;
    li {
      list-style-type: none;
      display: inline-block;
//      @include flexbox;
//      @include justify-content(space-around);
      @include flex(0 1 16em);
//      @include align-items(center);
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      padding: 1rem .5rem 1rem;
    }
  }
  ul.icons {
    width: 50%;
    margin: auto;
    li {
      @include flex(0 0 6em);
      margin: auto;
      a {
        margin: auto;
      }
    }
  }
}

#two {
  .inner {
    width: 70em;
  }
}

// teaser

iframe {
  border: 2px solid white;
}
.teaser {
  margin: 1em auto;
  > p > iframe {
    width: 50%;
    height: 16em;
  }
}


ul.navigation {
  padding-top: 2em;
  li {
    list-style-type: none;
    display: inline-block;
  }
  li.alignleft {
    text-align: left;
    width: 45%;
  }
  li.alignright {
    text-align: right;
    width: 45%;
  }
}

.fa {
  line-height: 1.75em;
  font-size: 1.75em;
}
/********************  POST  *************************
*******************  NAVIGATION  **********************/

nav.navigation.post-navigation {
  margin: 1em auto;
//  @include flexbox;
  .nav-links {
    @include flexbox;
    margin-left: auto;
    @include justify-content(space-between);
  }
  h2 {
    display: none;
  }
}



@media screen and (max-width: 480px) {

  #header {
    background: transparent;
  }

}

@import "logo";
@import "navigation";
@import "header";
@import "scrollback";
@import "blocks";
